@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');
@import 'tailwindcss';

/* Importer les polices Google Fonts */

@theme {
  /* Colors */
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #4F46E5;
  --color-primary-600: #3730A3;
  --color-primary-700: #312e81;
  --color-primary-800: #1e1b4b;
  --color-primary-900: #0f172a;
  --color-primary-950: #030712;
  --color-secondary-50: #ecfdf5;
  --color-secondary-100: #d1fae5;
  --color-secondary-200: #a7f3d0;
  --color-secondary-300: #6ee7b7;
  --color-secondary-400: #34d399;
  --color-secondary-500: #10B981;
  --color-secondary-600: #059669;
  --color-secondary-700: #047857;
  --color-secondary-800: #065f46;
  --color-secondary-900: #064e3b;
  --color-secondary-950: #022c22;
  --color-tertiary-50: #F9ECE5;
  --color-tertiary-100: #F2D8CA;
  --color-tertiary-200: #ECC5B0;
  --color-tertiary-300: #E6B296;
  --color-tertiary-400: #E2A889;
  --color-tertiary-500: #e09f7d;
  --color-tertiary-600: #D88A60;
  --color-tertiary-700: #D27544;
  --color-tertiary-800: #A85529;
  --color-tertiary-900: #70391B;
  --color-tertiary-950: #542B14;
  --color-red-50: #FDECF0;
  --color-red-100: #F9C6D2;
  --color-red-200: #F7B3C3;
  --color-red-300: #F27A96;
  --color-red-400: #EE5478;
  --color-red-500: #ec4067;
  --color-red-600: #E92553;
  --color-red-700: #A41033;
  --color-red-800: #890E2A;
  --color-red-900: #6E0B22;
  --color-red-950: #520819;
  --color-pink-500: #e899dc;


  /* Fonts */
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  /* Shadows */
  --shadow-soft: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);

  /* Borders */
  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;

  /* Transitions */
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
}

/* Styles de base */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
